# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Radu\deschide_app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
